<div>
    <div class="title-logout">
        <h2 class="title">{{{title}}}</h2>
        <div class="header-buttons">
            <button class="header-button" id="logout-button">Logout</button>
            {{#if isAdmin}}
            <a href="/login/adminPanel"><button class="header-button" id="admin-button">Admin panel</button></a>
            {{/if}}
        </div>
    </div>

    <div>
        <form class="filter-form" id="filter">
            <select name="sort" id="sort-select" class="filter-opt">
                <option value="" disabled selected hidden>Filter by price</option>
                <option value="asc">Precio mas bajo</option>
                <option value="desc">Precio mas alto</option>
            </select>
            <select class="filter-opt" id="quantity-select">
                <option value="" disabled selected hidden>Items per page</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="10">10</option>
            </select>
            <select id="cat-select">
                <option value="" disabled selected hidden>Filter by category</option>
                <option value="juegos">Juegos</option>
                <option value="coleccionables">Coleccionables</option>

            </select>

            <button class="filter-button" type="submit">Filter</button>

        </form>
        <div class="products-grid">
            {{#each prods}}
            <div class="prod-container" id="prod">

                <a href="https://www.facebook.com"><img src="https://placehold.co/250x300"></a>
                <p>{{this.title}}</p>
                <p>${{this.price}}</p>
                <p>code: {{this.code}}</p>



                <form class="cart-form" id="cart-form" data-id={{this.code}}>
                    <p>cart ID</p>
                    <input type="text" name="cart" id="cart-id" class="cart-id" placeholder="ID">
                    <button id="add-cart" class="prod-button" type="submit">Add to cart</button>
                </form>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="pager">
        <ul class="pagination pagination-sm">
            {{#each pages}}
            <li class="page-item"><button class="page-link" page-id={{this}} id="page">{{this}}</button></li>
            {{/each}}
        </ul>

    </div>
</div>


<script src="/js/scripts/productsScript.js" type="module"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsSocket.js"></script>