<div>
    <h2 class="profile-title">Perfil</h2>
    <div class="personal-data">
        <p>Nombre: {{name}}</p>
        <p>Apellido: {{lastName}}</p>
        <p>Email: {{email}}</p>
        <p>Genero: {{genre}}</p>
        <p>Edad: {{age}}</p>
    </div>
    <div class="profile-buttons">
        <a href="/"><button class="general-button">Volver al inicio</button></a>
        <button class="general-button">Cambiar contraseña</button>
    </div>


</div>